@using Microsoft.AspNetCore.Identity


@model HomeFinder.ViewModels.ItemListViewModel
@{
    ViewData["Title"] = "Recommendations";
}
@inject SignInManager<ApplicationUser> signInManager
@{
}
@*--- Partial view ---*@

<div class="container">
    <h3 class="display-4">All items</h3>
    <div class="row">
        @foreach (var item in Model.Items)
        {
            <div class="col-md-8">
                <partial name="_itemThumbnail" model="@item" />
            </div>
        }
    </div>
</div>


@*---  Vanlig view ---*@


<div class="container">
    <h3 class="display-4">Hela listan</h3>
    <div class="row">
        @foreach (var item in Model.Items)
        {
            <div class="col-md-6">

                <h3 class="card-title">@(string.IsNullOrEmpty(item.Address) ? "Address is not available" : item.Address)</h3>
                <h5 class="card-text">@(string.IsNullOrEmpty(item.City) ? "City is not availabe" : item.City)</h5>
                <img src="@Url.Content(item.MainImageUrl)" alt="Loading image"> @*width = "250"*@
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h2>@item.Price</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-primary">
                        <span class="monospaced">@item.Description</span>
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="font-weight-bold">Visningsdatum - </span> @item.ListingDate</li>
                    <li class="list-group-item"><span class="font-weight-bold">Boyta - </span> @item.LivingArea</li>
                    <li class="list-group-item"><span class="font-weight-bold">Antal rum - </span> @item.NrOfRoom</li>
                </ul>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a asp-route="itemDetailsRoute" asp-route-id="@item.Id"
                           class="btn btn-sm btn-outline-secondary">Till objektsidan</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>