@model HomeFinder.Models.Item

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-8">
        <img src="@Url.Content(@Model.ImgPath)" alt="Loading image" class="w-100">
    </div>
    <div class="col-4">
        Ansvarig mäklare

        @*<dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ListingDate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ListingDate)
        </dd>*@
    </div>
</div>

<div class="row" my="1">
    <div class="col-6">
        <h3>@Html.DisplayFor(model => model.Address)</h3>
        <h5>@Model.City</h5>
    </div>
    <div class="col-6">
        <h3>@Html.DisplayFor(model => model.Price) SEK</h3>
    </div>

    <div class="col-6">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="col-6">
        <h5>Information om fastigheten</h5>
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ItemType)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ItemType)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.NrOfRoom)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.NrOfRoom)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.LivingArea)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.LivingArea)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.GrossFloorArea)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.GrossFloorArea)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.PlotArea)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.PlotArea)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ConstructionYear)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ConstructionYear)
            </dd>
        </dl>
    </div>
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
