@{
    ViewData["Title"] = Model.Address;
}

@model ItemViewModel

<body onload="codeAddress()">
<div class="container card box-shadow">
    <div class="row p-2 justify-content-center">
        @if (Model.Images.Count == 0)
        {
            <img src="@Url.Content(Model.MainImageUrl)" class="col-12" alt="Loading image">
        }
        else
        {
            <div id="carouselExampleIndicators" class="carousel slide col-12" data-ride="carousel">
                <ol class="carousel-indicators">
                    @for (int i = 0; i < Model.Images.Count(); i++)
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="@(i==0 ? "active" : "") "></li>
                    }
                </ol>
                <div class="carousel-inner">
                    @for (int i = 0; i < Model.Images.Count(); i++)
                    {
                        <div class="@(i==0 ? "carousel-item active" : "carousel-item") ">
                            <img class="d-block col-12" src="@Model.Images[i].URL" alt="@Model.Images[i].Title">
                        </div>
                    }
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        }
    </div>
    <div class="row p-2">
        <div class="col-md-12">
            <h1>@Model.Address</h1>
        </div>
        <div class="col-md-12 text-primary">
            <span class="label label-primary">In: </span>
            <span class="monospaced">@Model.City</span>
        </div>
        <div class="col-md-12">
            <p class="description">
                Mäklare: @Model.BrokerEmail
            </p>
        </div>
    </div>

    <div class="row p-2">
        <div class="col">
            @Model.Description
        </div>

        <div class="col-lg-4">
            <table class="list-group col-12">
                <tr class="mt-1">
                    <td class="col-6">Boarea: </td>
                    <td class="col-6 font-weight-bold">@Model.LivingArea m²</td>
                </tr>
                @if (Model.GrossFloorArea != 0)
                {
                    <tr class="mt-1">
                        <td class="col-6">Biarea: </td>
                        <td class="col-6 font-weight-bold">@Model.GrossFloorArea m²</td>
                    </tr>
                }
                @if (Model.PlotArea != 0)
                {
                    <tr class="mt-1">
                        <td class="col-6">Tomtarea: </td>
                        <td class="col-6 font-weight-bold">@Model.PlotArea m²</td>
                    </tr>
                }
                <tr class="mt-1">
                    <td class="col-6">Pris:</td>
                    <td class="col-6 font-weight-bold">@Model.Price kr</td>
                </tr>
                <tr class="mt-1">
                    <td class="col-6">Antal rum:</td>
                    <td class="col-6 font-weight-bold">@Model.NrOfRoom</td>
                </tr>
                <tr class="mt-1">
                    <td class="col-6">Fastighetstyp:</td>
                    <td class="col-6 font-weight-bold">@Model.ItemType</td>
                </tr>
                <tr class="mt-1">
                    <td class="col-6">Upplåtelseform:</td>
                    <td class="col-6 font-weight-bold">@Model.FormOfLease</td>
                </tr>
                <tr class="mt-1">
                    <td class="col-6">Byggår:</td>
                    <td class="col-6 font-weight-bold">@Model.ConstructionYear.ToString("yyyy")</td>
                </tr>
                <tr class="mt-1">
                    <td class="col-6">Utlagd:</td>
                    <td class="col-6 font-weight-bold">@Model.ListingDate.ToString("yyyy/MM/dd")</td>
                </tr>
                <tr class="mt-1">
                    <td class="col-6">Visningsdatum:</td>
                    <td class="col-6 font-weight-bold">@Model.ShowingDate.ToString("yyyy/MM/dd")</td>
                </tr>

            </table>

            <partial name="~/Views/InterestRegistration/_interestRegistration.cshtml" model="@Model.Id" />

            <a class="btn btn-outline-primary col-12 mt-2" asp-controller="InterestRegistration"
                asp-action="GetInterestRegistrations" asp-route-id="@Model.Id">Visa intresseanmälningar</a>

        </div>
    </div>
    <div class="row justify-content-center">
        <div class="my-3" id="map" style="width: 500px; height: 400px;"></div>
    </div>
</div>
<script>
    var geocoder;
    var map;
    var marker;

    function initMap() {
        geocoder = new google.maps.Geocoder();
        var latlng = new google.maps.LatLng(59.334591, 18.063240);
        var mapOptions = {
            zoom: 17,
            center: latlng
        }
        map = new google.maps.Map(document.getElementById('map'), mapOptions);
    }
    function codeAddress() {
        var address = "@Model.Address" + ", " + "@Model.ZipCode" + " " + "@Model.City";

        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == 'OK') {
                map.setCenter(results[0].geometry.location);
                marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            }
            else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
</script>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEaMfKvxtMmnrBB0elA5kTV0RQ0I_wLII&callback=initMap&v=weekly"
    async></script>
</body>

