@*@model IEnumerable<HomeFinder.Models.Item>*@
@model HomeFinder.ViewModels.ItemViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Create new <i class="fa-solid fa-plus"></i></a>
    </p>
}
    @*Nya tabellen*@

<h3>
    Filtrera sökning
</h3>
<form asp-controller="Items" asp-action="Index" class="col-4 my-1 p-2">
    <div>
        Fastighetstyp
        <div class="my-1">
            <select asp-for="ItemType" asp-items="Model.ItemTypesVM">
                <option value="">Alla objekt</option>
            </select>
        </div>
        Stad eller Adress
        <div class="my-1">
            <input type="text" name="searchString" placeholder="Title" class="form-control-sm col-12" />
        </div>
        Antal rum
        <div class="my-1">
            <select asp-for="minNrOfRooms" asp-items="Model.NrOfRoomsVM">
                <option value="">Min</option>
            </select>&nbsp;&#8212;&nbsp;
            <select asp-for="maxNrOfRooms" asp-items="Model.NrOfRoomsVM">
                <option value="">Max</option>
            </select>
        </div>

        Boarea m²

        @*<div class="my-1">
            <select asp-for="minArea" asp-items="Model.AreaVM">
                <option value="">Min</option>
            </select>&nbsp;&#8212;&nbsp;
            <select asp-for="maxArea" asp-items="Model.AreaVM">
                <option value="">Max</option>
            </select>
        </div>*@

        <div class="my-1">
            <select asp-for="minArea" asp-items="Model.LowerAreaSpan">
                <option value="">Min</option>
            </select>&nbsp;&#8212;&nbsp;
            <select asp-for="maxArea" asp-items="Model.HigherAreaSpan">
                <option value="">Max</option>
            </select>
        </div>

        @*<div class="my-1">
            <input type="number" name="minArea" step="1" placeholder="min" class="form-control-sm col-5" />&nbsp;&#8212;&nbsp;<input type="number" name="maxArea" step="1" placeholder="max" class="form-control-sm col-5" />
        </div>*@
        Pris
        <div class="my-1">
            <select asp-for="minPrice" asp-items="Model.LowerPriceSpan">
                <option value="">Min</option>
            </select>&nbsp;&#8212;&nbsp;
            <select asp-for="maxPrice" asp-items="Model.HigherPriceSpan">
                <option value="">Max</option>
            </select>
        </div>
        @*<div class="my-1">
            <input type="number" name="minPrice" step="100000" placeholder="$min" class="form-control-sm col-5" />&nbsp;&#8212;&nbsp;<input type="number" name="maxPrice" step="100000" placeholder="$max" class="form-control-sm col-5" />
        </div>*@
        <input type="submit" value="Sök" class="btn btn-primary btn-sm" />
        <a asp-action="Index" class="btn btn-secondary btn-sm float-right">Rensa</a>
    </div>
</form>

    @*Gamla tabellen*@

@*<form asp-controller="Items" asp-action="Index" method="get">
    <p>
    <p>Typ av objekt</p>
    
        <select asp-for="ItemType" asp-items="Model.ItemTypesVM">
            <option value="">Alla objekt</option>
        </select>

        Title:
        <input type="text" asp-for="SearchString" />
        <input type="submit" value="Sök" />
        </p>
</form>*@

@*<form asp-controller="Items" asp-action="Index2" method="get">
    <p>
    <p>Antal rum</p>
    <select asp-for="NrOfRooms" asp-items="Model.NrOfRoomsVM">
        <option value="">Alla objekt</option>
    </select>

    </p>
</form>*@

<div class="row">
    <div class="col-6">
        <table class="table">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items[0].Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items[0].ItemType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items[0].City)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items[0].Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items[0].Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items[0].NrOfRoom)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items[0].Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items[0].LivingArea)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items[0].GrossFloorArea)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items[0].PlotArea)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items[0].ConstructionYear)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items[0].ListingDate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                <tr>
                    <td>
                        <img src="@Url.Content(item.ImgPath)" alt="Loading image">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price) SEK
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NrOfRoom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LivingArea) m²
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GrossFloorArea) m²
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlotArea) m²
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ConstructionYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ListingDate)
                    </td>
                    <td>
                        @*@if (User.Identity.IsAuthenticated)
            {
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
            }
            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success"><i class="fa-solid fa-circle-info"></i></a>
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></a>
            }*@
                        <a asp-action="Edit" asp-route-id="@item.Id">Ändra</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Info</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Ta bort</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>