<link rel="stylesheet" href="./css/item.css">
@using Microsoft.AspNetCore.Identity

@model HomeFinder.ViewModels.ItemListViewModel
@{
    ViewData["Title"] = "Index";
}
@inject SignInManager<ApplicationUser> signInManager

<h1>Fastigheter</h1>

@if (signInManager.IsSignedIn(User))
{
<p>
    <a asp-controller="Items" asp-action="AddNewItem">Lägg till ny bostad <i class="fa-solid fa-plus"></i></a>
    @*<a asp-action="Create">Create new <i class="fa-solid fa-plus"></i></a>*@
</p>
}

@* Vad är tanken med den här? *@
<p>
    <a asp-controller="Items" asp-action="GetAllItems">Alla lägenheter</a>
</p>



@*Filter-lista*@

<h3>
    Filtrera sökning
</h3>
<div class="front">
    <form asp-controller="Items" asp-action="Index" class="col-4 my-1 p-2">
        <div>
            <span>Fastighetstyp</span>
            <div class="my-1">
                <select asp-for="ItemType" asp-items="Model.ItemTypesVM">
                    <option value="">Alla objekt</option>
                </select>
            </div>
            <span>Stad eller Adress</span>
            <div class="my-1">
                <input type="text" name="searchString" placeholder="Title" class="form-control-sm col-12" />
            </div>
            <span>Antal rum</span>
            <div class="my-1">
                <select asp-for="MinNrOfRooms" asp-items="Model.NrOfRoomsVM">
                    <option value="">Min</option>
                </select>&nbsp;&#8212;&nbsp;
                <select asp-for="MaxNrOfRooms" asp-items="Model.NrOfRoomsVM">
                    <option value="">Max</option>
                </select>
            </div>

            <span>Boarea m²</span>

            <div class="my-1">
                <select asp-for="MinArea" asp-items="Model.LowerAreaSpan">
                    <option value="">Min</option>
                </select>&nbsp;&#8212;&nbsp;
                <select asp-for="MaxArea" asp-items="Model.HigherAreaSpan">
                    <option value="">Max</option>
                </select>
            </div>

            <span>Pris</span>
            <div class="my-1">
                <select asp-for="MinPrice" asp-items="Model.LowerPriceSpan">
                    <option value="">Min</option>
                </select>&nbsp;&#8212;&nbsp;
                <select asp-for="MaxPrice" asp-items="Model.HigherPriceSpan">
                    <option value="">Max</option>
                </select>
            </div>
            @*<div class="my-1">
                    <select asp-for="DisplayOrder" asp-items="Model.DisplayOrderVM">
                        <option value="">Alla objekt</option>
                    </select>
                </div>*@
            <select asp-for="DisplayOrder">
                <option value="Pris_Stigande">Pris - stigande</option>
                <option value="Pris_Fallande">Pris - fallande</option>
                <option value="Datum_Nyast">Nyast</option>
                <option value="Datum_Äldst">Äldst</option>
            </select>

            <input type="submit" value="Sök" class="btn btn-primary btn-sm" />
            <a asp-action="Index" class="btn btn-secondary btn-sm float-right">Rensa</a>
        </div>
    </form>
</div>


@*--- Partial view ---*@

<div class="container">
    <h3 class="display-4">All items</h3>
    <div class="row">
        @foreach (var item in Model.Items)
        {
            <div class="col-md-8">
                <partial name="_itemThumbnail" model="@item" />
            </div>
        }
    </div>
</div>


@*---  Vanlig view ---*@


<div class="container">
    <h3 class="display-4">Hela listan</h3>
    <div class="row">
        @foreach (var item in Model.Items)
        {
            <div class="col-md-6">

                <h3 class="card-title">@(string.IsNullOrEmpty(item.Address) ? "Address is not available" : item.Address)</h3>
                <h5 class="card-text">@(string.IsNullOrEmpty(item.City) ? "City is not availabe" : item.City)</h5>
                <img src="@Url.Content(item.MainImageUrl)" alt="Loading image"> @*width = "250"*@
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h2>@item.Price</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-primary">
                        <span class="monospaced">@item.Description</span>
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="font-weight-bold">Visningsdatum - </span> @item.ListingDate</li>
                    <li class="list-group-item"><span class="font-weight-bold">Boyta - </span> @item.LivingArea</li>
                    <li class="list-group-item"><span class="font-weight-bold">Antal rum - </span> @item.NrOfRoom</li>
                </ul>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a asp-route="itemDetailsRoute" asp-route-id="@item.Id"
                           class="btn btn-sm btn-outline-secondary">Till objektsidan</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


